<div
  class="py-4 md:py-3 lg:py-2 px-6 flex flex-col md:flex-row md:items-center md:justify-between gap-3 md:gap-0"
>
  <div class="flex items-center justify-between gap-[55px]">
    <div class="flex items-center gap-[55px]">
      <a
        routerLink="/main"
        class="flex items-center text-2xl font-semibold text-secondary-900"
      >
        <img class="w-8 h-8 mr-2" src="assets/logo.svg" alt="logo" />
        <p class="text-sm md:text-lg lg:text-2xl">
          BLOGIFY <span class="hidden md:inline-block">FIREBASE</span>
        </p>
      </a>
    </div>
    <div class="md:w-auto flex items-center pt-1">
      <div class="flex items-center gap-4">
        <!-- Home link -->
        <p
          routerLink="/main/main"
          [ngClass]="{
            'font-bold text-primary-500': isActive('/main/main'),
            'font-normal': !isActive('/main/main')
          }"
          class="text-sm cursor-pointer"
        >
          Home
        </p>

        <!-- Details link - should not be active even if matched -->
        <p
          [ngClass]="{
            'font-bold text-primary-500': isActive('/main/detail'),
            'font-normal': !isActive('/main/detail')
          }"
          class="text-sm cursor-pointer"
        >
          Details
        </p>

        <!-- User profile link -->
        <p
          routerLink="/main/profile"
          [ngClass]="{
            'font-bold text-primary-500': isActive('/main/profile'),
            'font-normal': !isActive('/main/profile')
          }"
          class="text-sm cursor-pointer"
        >
          User profile
        </p>
      </div>
    </div>
  </div>

  <!-- Conditionally render buttons based on the active route -->
  <div class="flex items-center justify-between gap-4">
    <!-- Button for /main -->
    <div *ngIf="isActive('/main/main')" (click)="addPost()">
      <app-button text="Add post"></app-button>
    </div>

    <!-- Button for /main/detail -->
    <div *ngIf="isActive('/main/detail')" (click)="updatePost()">
      <app-button text="Update post"></app-button>
    </div>

    <!-- Button for /main/profile -->
    <div *ngIf="isActive('/main/profile')" (click)="updateUser()">
      <app-button text="Update User"></app-button>
    </div>

    <!-- Avatar with dropdown -->
    <div
      class="relative cursor-pointer w-10 h-10"
      (click)="toggleDropdown($event)"
    >
      <img
        [src]="
          currentUser.avatarUrl?.length === 0
            ? 'assets/avatar.svg'
            : currentUser.avatarUrl
        "
        class="w-full h-full rounded-full"
        alt="avatar"
      />

      <!-- Dropdown menu -->
      <div
        *ngIf="isDropdownOpen"
        class="absolute p-2 right-0 mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg z-50"
      >
        <div class="flex h-14 overflow-hidden items-center border-b-[1px] border-primary-500">
          <div class="flex items-center justify-center">
            <img
              [src]="
                currentUser.avatarUrl?.length === 0
                  ? 'assets/avatar.svg'
                  : currentUser.avatarUrl
              "
              alt="avatar"
              class="w-14 h-10 rounded-full"
            />
          </div>
          <div class="ml-2 overflow-hidden">
            <p class="font-bold truncate">{{ currentUser.fullName }}</p>
            <p class="font-light truncate w-full" title="{{ currentUser.email }}">
              {{ currentUser.email }}
            </p>
          </div>
        </div>
        <ul class="py-2">
          <li routerLink="/main/profile" class="px-4 py-2 hover:bg-gray-100">
            <a>Profile Settings</a>
          </li>
          <li class="px-4 py-2 hover:bg-gray-100" (click)="logout()">
            <a>Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
