<!-- profile.component.html -->
<div
  *ngIf="currentUser"
  class="flex flex-col items-center h-full py-5 justify-center gap-10"
>
  <div>
    <img
      [src]="
        currentUser.avatarUrl?.length === 0
          ? 'assets/avatar.svg'
          : currentUser.avatarUrl
      "
      alt="avatar"
      class="w-[100px] h-[100px]"
    />
  </div>
  <div class="flex flex-col items-center gap-3">
    <p class="text-2xl font-bold">{{ currentUser.fullName }}</p>
    <p class="text-lg font-light">{{ currentUser.email }}</p>
  </div>

  <div (click)="toggleModal()">
    <app-button text="Edit profile"></app-button>
  </div>
</div>
