<section class="bg-secondary-50">
  <div class="w-[98%] mx-auto md:w-[600px]">
    <div
      class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
    >
      <a
        href="/"
        class="flex items-center mb-6 text-2xl font-semibold text-secondary-900"
      >
        <img class="w-8 h-8 mr-2" src="assets/logo.svg" alt="logo" />
        Blogify firebase
      </a>
      <div class="w-full bg-white rounded-lg shadow">
        <div class="p-6 space-y-4 md:space-y-6 lg:space-y-4 sm:p-8">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-secondary-900 md:text-2xl"
          >
            Sign in to your account
          </h1>

          <!-- Reactive form binding with [formGroup] -->
          <form
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            class="space-y-4 md:space-y-6 lg:space-y-4"
          >
            <!-- Email Input -->
            <div>
              <app-input-label
                label="Your email"
                placeholder="name@company.com"
                [control]="emailControl"
              ></app-input-label>
            </div>

            <!-- Password Input -->
            <div>
              <app-input-label
                label="Password"
                placeholder="••••••••"
                [control]="passwordControl"
                [type]="'password'"
              ></app-input-label>
            </div>

            <!-- Submit Button -->
            <div *ngIf="!loading">
              <app-button text="Sign in"></app-button>
            </div>
            <div class="flex justify-center">
              <div *ngIf="loading" class="loader"></div>
            </div>

            <div class="py-1 bg-white border-[1px] border-black cursor-pointer rounded-lg flex items-center justify-center">
              <div class="flex items-center gap-5">
                <div class="w-5 h-5">
                  <img src="assets/google.svg" alt="google logo" />
                </div>
                <p>Sign in with google</p>
              </div>
            </div>

            <!-- Sign Up Link -->
            <p class="text-sm font-light text-secondary-500">
              Don’t have an account yet?
              <a
                class="font-medium text-primary-600 hover:underline"
                routerLink="/auth/signup"
              >
                Sign up
              </a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
